################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomMVCIdentity
/CustomMVCIdentity/bin
/CustomMVCIdentity/obj/Debug
/IdentityManagement/bin/Debug
/IdentityManagement/obj/Debug
/CustomIdentityDB/bin/Debug
/CustomIdentityDB/obj/Debug
/Identity.IdentityLibrary/bin/Debug
/Identity.IdentityLibrary/obj/Debug
/Identity.ModelsLibrary/bin/Debug
/Identity.ModelsLibrary/obj/Debug
/CustomIdentityDB/CustomIdentityDB.dbmdl
/CustomIdentityDB/CustomIdentityDB.jfm
/Identity.ApiLibrary/obj/Debug
/Identity.ApiLibrary/Properties/AssemblyInfo.cs
/Identity.ApiLibrary/bin/Debug
/Identity.DataLibrary/bin/Debug
/Identity.DataLibrary/obj/Debug
/packages
/UnitTestProject1/bin/Debug
/UnitTestProject1/obj/Debug
/Identity.ServicesLibrary/bin/Debug
/Identity.ServicesLibrary/obj/Debug
/.vs/config
