################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomMVCIdentity
/CustomMVCIdentity/bin
/CustomMVCIdentity/obj/Debug
/IdentityManagement/bin/Debug
/IdentityManagement/obj/Debug
/CustomIdentityDB/bin/Debug
/CustomIdentityDB/obj/Debug
/Identity.IdentityLibrary/bin/Debug
/Identity.IdentityLibrary/obj/Debug
/Identity.ModelsLibrary/bin/Debug
/Identity.ModelsLibrary/obj/Debug
/CustomIdentityDB/CustomIdentityDB.dbmdl
/CustomIdentityDB/CustomIdentityDB.jfm
